*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Outfit);
}

:root{
    /* color */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* font family */
    --ff-Outfit: 'Outfit', sans-serif;

    /* font waite */
    --fw-normal: 400;
    --fw-bold: 700;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------- main ------------*/
.main{
    background-color: var(--Light-gray);
    width: min(90rem, 100%);
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------- card ---------*/
.card{
    background-color: var(--White);
    width: min(20rem, 90%);
    padding: 1rem;
    border-radius: 1rem;
}

.card__img{
    width: 100%;
    border-radius: .5rem;
    display: block;
}

.card__title{
    color: var(--Dark-blue);
    text-align: center;
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    margin-top: 1.5rem;
}

.card__sub-title{
    color: var(--Grayish-blue);
    text-align: center;
    font-size: 1rem;
    max-width: 26ch;
    font-weight: var(--fw-normal);
    margin: 1rem auto;
}